@import "tailwindcss";
@tailwind utilities;

/*Gerais*/
body {
    font-family: 'Poppins', sans-serif;
}

.class__extra {
    background-color: #000000;
}

.backgroundImg {
    background-image: url('https://ik.imagekit.io/emy/Pharmacy/277ff33333bcf2ba93b3cb2fd0aa4abe.jpg?updatedAt=1740489400089');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
}

/*Exclusivo: Home.tsx*/
.button-config {
    background-color: var(--custom-gray-dark);
    color: white;
    cursor: pointer;
    

    &:hover {
        background-color: var(--custom-brown);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
}


.button-edit {
    background-color: var(--custom-brown);
    color: white;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: var(--custom-brown-rose);
        transition: all 0.4s ease-in-out;
        transform: scale(1.1);
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
 }

.button-del {
    background-color: var(--custom-gray);

    &:hover {
        background-color: var(--custom-gray-brown);
        transition: all 0.4s ease-in-out;
        transform: scale(1.1);
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
 
}