@import "tailwindcss";
@tailwind utilities;

/*Gerais*/
body {
    font-family: 'Poppins', sans-serif;
}

/* Fonte Home para Titulos*/
.fontStyle {
    font-family: "Bebas Neue", serif;
    font-size: 10rem;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    overflow: hidden;

}

.backgroundImg {
    background-image: url('https://ik.imagekit.io/emy/Pharmacy/277ff33333bcf2ba93b3cb2fd0aa4abe.jpg?updatedAt=1740489400089');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
}

